<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-music"></span>
                Autoplaylists for Spotify
            </a>
        </div>

        <ul class="nav navbar-nav align-left cancel">
            <li class="cancel">
                <a class="cancel" href="/stop">
                    Stop Updating
                </a>
            </li>
        </ul>
      
    </div>
</nav>
