<!-- views/pages/signin.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <title>Create a most played playlist</title>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>

    </header>

    <main>
        <div class="jumbotron">
            <h1>Log in with Spotify</h1>
            <p><%= visitType %> We will not change any other information</p>
            <a href="<%= loginUrl %>">
                <img src="../images/spotify-login.png">
            </a>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
<% include ../partials/css %> 
